{% extends "base.html.twig" %}

{% block title %}Modifier un produit{% endblock %}


{% block h1 %}Modifier un produit{% endblock %}

{% block body %}
    <a href="{{ path('produit_afficher')}}" class="btn btn-warning my-3">Retour</a>

    <div class="col-md-10 mx-auto">
        {{ form_start(formProduit) }}
            {{form_row(formProduit.titre)}}

            <div class="row my-3">
                <div class="col-md-6">{{form_row(formProduit.image)}}</div>
                <div class="col-md-6">{{form_row(formProduit.prix)}}</div>
            </div>

            {{form_rest(formProduit)}}

            <input class="btn btn-success mt-3 col-12" type="submit" value="Modifier">

        {{ form_end(formProduit) }}
    </div>


{% endblock %}

