{% extends "base.html.twig" %}

{% block title %}Ajouter un produit{% endblock %}


{% block h1 %}Ajouter un produit{% endblock %}

{% block body %}
    <a href="{{ path('produit_afficher')}}" class="btn btn-warning my-3">Retour</a>
    
    {# {{ form(formProduit) }} #}

    {{ form_start(formProduit) }}

        {# il est possible de réordonner un champ
        {{form_help(formProduit.titre)}}
        {{form_widget(formProduit.titre)}}
        {{form_label(formProduit.titre)}}
        {{form_errors(formProduit.titre)}}
        #}
    <div class="col-md-10 mx-auto">
        {{form_row(formProduit.titre)}}

            <div class="row my-3">
                <div class="col-md-6">{{form_row(formProduit.image)}}</div>
                <div class="col-md-6">{{form_row(formProduit.prix)}}</div>
            </div>

            {{form_rest(formProduit)}}

        {{ form_end(formProduit) }}
    </div>

{% endblock %}

